.carousel_outer {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 96%;
  border-radius: 10px;
}

.hero_image {
  display: inline-block;
  height: 100%;
  width: 96%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-end;
}

.hero_image_wrapper {
  display: inline-block;
  height: 26vh;
  min-height: 260px;
  width: 96%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-end;
}

.inner_image_box {
  width: 40%;
  backdrop-filter: blur(10px) invert(30%);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  display: none;
}

.inner_image_box p {
  font-size: 14px;
  line-height: 1.4;
}

.inner_image_box h2 {
  font-size: 16px;
  line-height: 1.4;
}

.pagination_box {
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
  min-width: fit-content;
  display: flex;
  gap: 10px;
}

.pagination {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  background-color: rgba(153, 153, 153, 0.515);
  cursor: pointer;
}

@media (min-width: 400px) {
  .hero_image_wrapper {
    height: 30vh;
    min-height: 360px;
  }

  .pagination_box {
    bottom: 2px;
  }
}

@media (min-width: 500px) {
  .pagination_box {
    bottom: 20px;
  }
}

@media (min-width: 640px) {
  .hero_wrapper {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .carousel_outer {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 90vw;
  }

  .hero_image_wrapper {
    height: 40vh;
    min-height: 400px;
  }

  .inner_image_box {
    display: block;
    margin-bottom: 50px;
    margin-left: 25px;
  }

  .pagination_box {
    bottom: 10px;
  }
}

@media (min-width: 1280px) {
  .hero_image_wrapper {
    height: 50vh;
    min-height: 500px;
    width: 84vw;
    background-position-y: 30%;
    flex: 1 0 100%;
  }

  .inner_image_box {
    width: 30%;
    padding: 20px;
  }

  .inner_image_box p {
    font-size: 16px;
    line-height: 1.4;
  }

  .inner_image_box h2 {
    font-size: 20px;
  }
}
